<!-- Div to show the spinner gif -->
<div id="spinner">
  <p>Communicating with server. Please stand by.</p>
</div>

<div id="error">
  <p><strong>An API error occurred:</strong></p>
  <p>Contact your supervisor. Show them the below output:</p>
  <div style="font-family: monospace;" class="text-error">
    {{response_body}}
  </div>
  <p>The server received the following data from your browser:</p>
  <div style="font-family: monospace;" class="text-error">
    <strong>Run Model:</strong> {{model_type}}<br>
    <strong>Run Method:</strong> {{run_method}}<br>
    <strong>Arguments:</strong> {{run_args_hash}}
  </div>
</div>

<!-- Using a div to not hide all forms in the project, just building-related -->
<!-- Begin: building_forms section -->
<div id="building_forms">

<form id="building_form" action="#" method="">
  <h2>New Building</h2>

  <p>
    Please supply all information you have about the building itself. If you
    don't know one of the details, leave it blank with the exception of the
    address parameters - all of those are absolutely required.
  </p>

  <p>
    <label for="name">Building Name</label>
    <input type="text" id="name" placeholder="Enter 'Unknown' if not known">
  </p>

  <p>
    <label for="building_type">Building Type</label>
    <select name="building_type" id="building_type">
      <option value="Office" selected>Office</option>
      <option value="Retail">Retail</option>
      <option value="Industrial">Industrial</option>
      <option value="Flex Space">Flex Space</option>
      <option value="Land">Land</option>
    </select>
  </p>

  <p>
    <label for="size">Building Size</label>
    <input type="text" id="size" placeholder="Enter 'Unknown' if not known">
  </p>

  <p>
    <label for="size_units">Units of Measure (e.g. ft/2, m/2)</label>
    <input type="text" id="size_units" placeholder="Enter 'Unknown' if not known">
  </p>

  <p>
    <label for="street">Street Address</label>
    <input type="text" id="street" placeholder="Required">
  </p>

  <p>
    <label for="city">City</label>
    <input type="text" id="city" placeholder="Required">
  </p>

  <p>
    <label for="state">State (two-letter abbreviation only)</label>
    <input type="text" id="state" placeholder="Required (e.g. 'TX')">
  </p>

  <p>
    <label for="zipcode">Zip Code</label>
    <input type="text" id="zipcode" placeholder="Required">
  </p>
  <input type="submit" value="Next &gt;" id="btn_next">
</form>

<form id="building_list_form" method="" action="" class="form-horizontal">
  <p>Is this building one of the below that already exist in the RealMassive
     database?
  </p>
  {{#each this}}
    <label class="radio">
      <input type="radio" name="api_uuid" value="{{this.key}}" id="{{this.key}}">
      <strong>
        {{#if this.title}}
          {{this.title}}
        {{else}}
          (No Title Supplied)
        {{/if}}
      </strong><br>
      {{this.address.street}}, {{this.address.city}}, {{this.address.state}}
      {{this.address.zipcode}}
    </label>
  {{/each}}

  <p>
    If not, you can create a new building by selecting the option below.
    <strong>Do NOT duplicate buildings!</strong> If it's in the list above,
    USE IT.
  </p>

  <label class="radio">
    <input type="radio" name="api_uuid" value="" id="new_uuid">
    <strong>Not in list</strong><br>
    Create new entry. I know I'm not supposed to duplicate buildings and I swear
    this isn't a duplicate!
  </label>

  <button type="button" id="btn_building_list_back">&lt; Back</button>
  <input type="submit" value="Next &gt;" id="btn_building_list_next">
</form>

<!-- New space form -->
<form id="new_space_form" action="" method="">
  <h2>New Space</h2>
  <p><strong>If this building has no multiple spaces,</strong> just fill out
     the below information as if there's only one space.</p>
  <p>You're adding a <strong>space</strong> to the following building:</p>

  <p>
    <strong>
      {{#if title}}
        {{title}}
      {{else}}
        (No Title Supplied)
      {{/if}}
    </strong><br>
    {{type}}<br>
    {{address.street}}<br>
    {{address.city}}, {{address.state}} {{address.zipcode}}
  </p>

  <p>
    <label for="space_type">Space Type</label>
    <select name="space_type" id="space_type">
      <option value="Lease" selected>Lease</option>
      <option value="Sale">Sale</option>
    </select>
  </p>

  <p>
    <label for="description">Description</label>
    <textarea id="description"
      placeholder="Enter a nice description of the space here."></textarea>
  </p>

  <p>
    <label for="unit_number">Unit Number</label>
    <input type="text" id="unit_number" placeholder="e.g. 202">
  </p>

  <p>
    <label for="floor_number">Floor Number</label>
    <input type="text" id="floor_number" placeholder="e.g. 1 (for first floor)">
  </p>

  <p>
    <label for="rate">Rate (price) per square foot ($/SF) - numbers only please</label>
    <input type="text" id="rate" placeholder="e.g. 55 (for $55 bucks)"> $/Square Foot
  </p>

  <p>
    <label for="space_available">How many square feet of space are available?</label>
    <input type="text" id="space_available" placeholder="Numbers only please!"> Square Feet
  </p>

  <input type="submit" value="Save Space">

</form>

<!-- End: building_forms section -->

<div id="cycle_complete">
  <h1>You're all set!</h1>
  <p>You've successfully created a space and/or building.</p>

  <p>
    <strong>
      {{#if building.title}}
        {{building.title}}
      {{else}}
        (No Title Supplied)
      {{/if}}
    </strong><br>
    {{building.address.street}}<br>
    {{building.address.city}}, {{building.address.state}}
    {{building.address.zipcode}}
  </p>

  <p>
    Space type: {{type}}<br>
    {{#if description}}
      {{description}}
    {{else}}
      (No description supplied.)
    {{/if}}<br>
    ${{rate}} {{rate_units}}<br>
    {{space_available}} {{space_available_units}} available<br>
    Unit number {{unit_number}} on floor {{floor_number}}
  </p>
</div>

</div>
