#boxes
  .box.size44.metro
    %div Austin
    %br
    .count 543
  .box.size22.county
    %div Travis
    %br
    .count 200
  .box.size22.county
    %div Bastrop
    %br
    .count 193
  .box.size22.county
    %div Williamson
    %br
    .count 150
  .box.size44.metro
    %div Norwich
    %br
    .count 75

-#%a.btn#append Append


:javascript
  $(document).ready( function() {
    $("#boxes").nested({selector: '.box'});

    $('#prepend').click(function(){
      var boxes = makeBoxes();
      $('#container').prepend(boxes).nested('prepend',boxes);
    })
    $('#append').click(function(){
      var boxes = makeBoxes();
      $('#container').append(boxes).nested('append',boxes);
    })
  });
