#jobs
  .box.size84.blue
    %br
    .jobtype Signage Received
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn DO WORK
  .box.size84.green
    %br
    .jobtype Review Signage
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn DO WORK
  .box.size84.yellow
    %br
    .jobtype Check Signage Duplicates
    %br
    .count (THIS STEP BY-PASSED FOR NOW)
    %br
    %a.btn DO WORK
  .box.size84.red
    %br
    .jobtype Contact Broker
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn DO WORK
  .box.size84.violet
    %br
    .jobtype Parse Info From Broker
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn DO WORK



:javascript
  $(document).ready( function() {
    $("#jobs").nested({selector: '.box', resizeToFit: false});

  });
