#jobs
  .box.size84.blue
    .jobtype Review Signage
    %br
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn WORK
  .box.size84.green
    .jobtype Norwich
    %br
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn WORK
  .box.size84.yellow
    .jobtype Call Brokers
    %br
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn WORK
  .box.size84.red
    .jobtype Norwich
    %br
    %br
    .count 75 jobs waiting for you
    %br
    %a.btn WORK

:javascript
  $(document).ready( function() {
    $("#jobs").nested({selector: '.box', resizeToFit: false});

  });
